.detail {
    display: grid;
    color: beige;
    background: url('https://cdn.pixabay.com/photo/2016/03/15/02/42/floor-1256804_1280.jpg');

    position: relative;
    width: 100%;
    height: 100vh;

}

.detail > img{
    position: absolute;
    height: 90vh;
    margin: 0 0 0 20%;
}

.menu{
    position: absolute;
    width: 70%;
    margin: 10% 2% 0 22%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.section01{
    width: 80%;
    height: 70vh;
}

.section02 > h5 {
    font-size:larger;
}


.section02{
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 20% 80%;
    justify-items: center;
}

.section02 > h5 {
    font-size:small;
}

.section02 > img {
    width: 100%;
    border-radius: 3%;
}

