.recipeCreation{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: center;
    background: url(../resources/sushi-fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    width: 100%;
    min-height: 100vh;
    /* overflow: hidden; */
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 340px;
    width: 90%;
    height: 20%;

    padding: 20px 20px 30px;
    /* border: 2px white solid; */
}

.navigation > img{
    height: 70px;
}
.navigation >a> button{
    height: 40px;
    padding: 10px;
    background-color: rgb(22, 20, 20);
    border-radius: 4px;
    color: white;
    border: 0px;
}

.recipeCreation > form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: #00000066;
    
    width: 90%;
    min-width: 250px;
    min-height: 400px;

    border-radius: 3%;
    border: 1px solid blue;
    padding-bottom: 10px;
    
}

@media screen and ( min-width: 800px) {
    .recipeCreation > form {
        width: 720px;
    }
    .recipeCreation > form > div >select{
        width: 480px;
    }
}

@media screen and ( max-width: 360px) {
    .recipeCreation > form > div >select{
        width: 216px;
    }
}

.recipeCreation > form > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 80%;

    color: white;
    padding-top: 5px;
    margin-bottom: 15px;
    
}

.recipeCreation > form > div >label{
    padding-bottom: 5px;
    color: white;
    font-size: 17px;
}

.recipeCreation > form > div >input{
    width: 80%;
    height: 25px;
}

.recipeCreation > form > div >span{
    background-color: red ;
    color: white;
    padding: 2px;
    margin: 4px;
    font-size: 12px;
    border-radius: 2px;
}

.recipeCreation > form > div >select{
    width: 60%;
    height: 35px;
}

.recipeCreation > form > button{
    width: 150px;
    height: 35px;
}

.dietillas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 50%;

    padding-top: 40px;

}

.dietillas > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 200px;
    height: 50px;

    padding: 10px 20px;
}
.dietillas > div >p{
    color: white;
    font-size: 15px;
    
}
.dietillas > div >button{
    width: 20px;
    height: 20px;
    font-size: 80%;
}